{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} Alert - Change Password {% endblock %}

{% block content %}
    {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
        </div>
    {% endfor %}
    <div class="page-header">
        <h1>修改密码</h1>
    </div>
    <div class="col-md-4">
        {{ wtf.quick_form(form, id='chg_pass', action='/auth/change_pass', form_type='horizontal', horizontal_columns=('lg',4,4)) }}
    </div>
    <br>
{% endblock %}